*.class
*.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.apk
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Package Files #
*.iml
*.ipr
*.iws
*.so
.classpath
.project
.settings/
.gradle/
.idea/
build/
bin/
out/
gen/
local.properties
!gradle/